---
description:
layout: base.njk
templateEngineOverride: md, njk
---
{% include 'sitenav.njk' %}
<main class="posta-container">
  <div class="posta-section">
    <ul class="posta-column-container">
      {%- for page in collections.pages -%}
      <li class="posta-card">
        <div class="posta-card__content">
          <a href="{{ page.url }}" class="posta-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    #quickstart + ol li:first-child,
    #quickstart + ol li:first-child p {
      font-size: 1.5rem;
    }
  </style>
{{ content | safe }}
</main>
