---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="posta-hero">
  <div class="posta-container">
    <h1 class="posta-ink--primary posta-mb-none">{{ title }}</h1>
    <h2 class="posta-lead posta-content-maxlength posta-ink--gray posta-mt-md posta-mx-auto">
      {{ description }}
    </h2>
  </div>
</header>
<main class="posta-container">
  <article class="posta-mx-auto">
    {{ content | safe }}
  </article>
</main>
