<nav aria-labelledby="posta-siteid" class="posta-sitenav">
  <div class="posta-sitenav__container">
    <a id="posta-siteid" href="/">{{ meta.siteName }}</a>
    <ul class="posta-sitenav__navlist posta-list-unstyled">
      {%- for page in collections.pages -%}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
