// stylelint-disable-next-line selector-max-id, selector-max-specificity
#posta-siteid {
  font-size: $posta-h3-font-size;
  text-decoration: none;
}

// stylelint-disable selector-max-type
.posta-sitenav {
  background-color: posta-color("primary");

  &__container,
  &__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__container {
    justify-content: space-between;
    width: 100%;
    max-width: 120ch;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
  }

  &__navlist {
    li + li {
      margin-left: 0.5rem;
    }
  }

  &,
  a:not(.posta-button) {
    color: posta-color("light");
  }

  a:not(.posta-button):focus {
    border-radius: $posta-border-radius/2;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 1px 2px posta-color("light");
  }
}
// stylelint-enable
