$posta-color-primary: #171392 !default;
$posta-color-secondary: #db0a76 !default;
$posta-color-background: #f9f9f9;

$posta-brand-colors: (
  "primary": $posta-color-primary,
  "secondary": $posta-color-secondary,
) !default;

$posta-color-body: scale-color($posta-color-primary, $lightness: -30%, $saturation: -50%) !default;
$posta-color-gray: mix(#767676, $posta-color-body, 70%) !default;

$posta-colors: map-merge(
  $posta-brand-colors,
  (
    "text": $posta-color-body,
    "background": $posta-color-background,
    "light": #fff,
    "dark": rgba(black, 0.87),
    "gray": $posta-color-gray,
  )
);

@function posta-color($key) {
  @return map-get($posta-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$posta-ink-colors: "primary", "secondary", "text", "gray", "light", "dark" !default;

// Add/remove to selectively generate `background` (text color) classes
$posta-background-colors: "primary", "secondary", "background", "gray", "light" !default;

$posta-button-variants: "primary", "secondary", "light", "gray" !default;
$posta-link-color: posta-color("primary") !default;
$posta-border-radius: 8px !default;

$posta-font-family: "Baloo 2", sans-serif;
$posta-strong-font-weight: 500 !default;
$posta-h1-font-size: 4.2rem !default;
$posta-h2-font-size: 3.15rem !default;
$posta-h3-font-size: 2rem !default;
$posta-h4-font-size: 1.35rem !default;
$posta-text-font-size: 1.15rem !default;
$posta-lead-font-size: 1.35rem !default;

$posta-spacing: (
  sm: 1rem,
  md: 3rem,
  lg: 6rem,
  xl: 10rem,
  auto: "auto",
) !default;
