.posta-content-maxlength {
  max-width: 80ch;
}

.posta-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$posta-alignments: left, center, right !default;

@each $alignment in $posta-alignments {
  .posta-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $posta-background-colors {
  .posta-background--#{$key} {
    background-color: posta-color($key);
  }
}

@each $key in $posta-ink-colors {
  .posta-ink--#{$key},
  a.posta-ink--#{$key} {
    color: posta-color(#{$key});
  }

  .posta-ink--#{$key} > a:not(.posta-button) {
    color: inherit;
  }
}

.posta-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $posta-spacing {
  .posta-my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .posta-mt-#{$key} {
    margin-top: $unit;
  }
}

.posta-mb-none {
  margin-bottom: 0;
}
